<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.AssetInfoMapper">

    <!-- 分页获取固定资产 -->
    <select id="assetInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ai.id,
        ai.code,
        ai.name,
        ai.price,
        ai.month_num AS monthNum,
        ai.user_id,
        ai.start_date AS startDate,
        ai.month_price AS monthPrice,
        ai.create_date AS createDate,
        tu.USERNAME AS username,
        IFNULL(sum( con.AMOUNT ),0) AS amount
        FROM
        asset_info ai
        LEFT JOIN t_user tu ON ( tu.USER_ID = ai.user_id )
        LEFT JOIN consume con ON ( con.`CODE` = ai.`code` )
        WHERE
        1 = 1
        <if test="assetInfo.name != null and assetInfo.name != ''">
            AND ai.name LIKE CONCAT('%',#{assetInfo.name},'%')
        </if>
        <if test="assetInfo.code != null and assetInfo.code != ''">
            AND ai.code LIKE CONCAT('%',#{assetInfo.code},'%')
        </if>
        <if test="assetInfo.username != null and assetInfo.username != ''">
            AND ai.username LIKE CONCAT('%',#{assetInfo.username},'%')
        </if>
        GROUP BY ai.id
    </select>
</mapper>
