<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.DebtInfoMapper">

    <select id="debtInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        di.id,
        di.debt_user AS debtUser,
        di.price,
        di.create_date AS createDate,
        di.update_date AS updateDate,
        di.user_id AS userId,
        di.debt_type AS debtType,
        di.debt_model AS debtModel,
        di.content,
        tu.USERNAME AS username
        FROM
        debt_info di
        LEFT JOIN t_user tu ON ( tu.USER_ID = di.user_id )
        WHERE
        1 = 1
        <if test="debtInfo.debtType">
            AND di.debt_type LIKE CONCAT('%',#{debtInfo.debtType},'%')
        </if>
        <if test="debtInfo.debtModel">
            AND di.debt_model LIKE CONCAT('%',#{debtInfo.debtModel},'%')
        </if>
    </select>
</mapper>
