<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.FundMapper">

    <!-- 分页查询基金 -->
    <select id="getConsumeIncomePage" resultType="java.util.LinkedHashMap">
        SELECT
        fi.ID AS id,
        fi.NAME AS name,
        fi.CODE AS code,
        fi.WORTH AS worth,
        fi.RECENT AS recent,
        fi.TYPE AS type,
        fi.RISK AS risk,
        fi.SHARE AS share,
        fi.TAG AS tag,
        tu.USERNAME AS username
        FROM
        fund fi
        LEFT JOIN t_user tu ON ( tu.USER_ID = fi.USER_ID )
        WHERE
        1 = 1
        AND fi.DELETE_FLAG = 0
        <if test="fund.name != null and fund.name != ''">
            AND fi.NAME LIKE CONCAT('%',#{fund.name},'%')
        </if>
        <if test="fund.type != null">
            AND fi.TYPE = #{ fund.type }
        </if>
        <if test="fund.userId != null">
            AND fi.USER_ID = #{ fund.userId }
        </if>
    </select>
</mapper>
