<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StockMapper">

    <!-- 分页查询证券 -->
    <select id="getStockPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.ID AS id,
        si.NAME AS name,
        si.CODE AS code,
        si.TYPE AS type,
        si.MONEY AS money,
        si.AMOUNT AS amount,
        si.UNIT AS unit,
        si.USER_ID AS userId,
        si.NOW_MONEY AS nowMoney,
        tu.USERNAME AS username
        FROM
        stock si
        LEFT JOIN t_user tu ON tu.USER_ID = si.USER_ID
        WHERE
        1 = 1
        AND si.DELETE_FLAG = 0
        <if test="stock.name != null and stock.name != ''">
            AND si.name LIKE CONCAT('%',#{stock.name},'%')
        </if>
        <if test="stock.type != null">
            AND si.type = #{stock.type}
        </if>
    </select>
</mapper>
